:root{
  /*Fonts*/
  --fallbackFont: 'Lato', sans-serif;
  --oldFont: 'Michroma', sans-serif;
  --oldFonts:  'Amiri', serif;
  --bodyFont: 'Esteban', serif;
  --titleFont: 'Alegreya Sans', sans-serif;
  --titleWeight: normal;
  /*Colors*/
  --background: FAFAFA;
  --text: 292929;
  --title: 465144;
  --body: 141414;
  --highlighted: #F27572;
  /*Display Constants*/
  --displayBlock: block;
  --displayTitle: inline-block;
  --positionRelative: relative;
  --noDeco: none;
  --widthFull: 100%;
  --widthDesktop: 50%;
  --heightAuto: auto;
  --alignCenter: center;
}

body{
  display: var(--displayBlock);
  position: var(--positionRelative);
  width: var(--widthFull);
  height: var(--heightAuto);
  margin: -2px;
  padding: 1px;
  font-family: var(--titleFont);
  font-family: var(--bodyFont);
  background-color: var(--background);
}

.title{
  display: var(--displayTitle);
  position: var(--positionRelative);
  width: var(--widthFull);
  text-align: var(--alignCenter);
  border-bottom: 1px solid black;
}

.title a{
  display: var(--displayTitle);
  position: var(--positionRelative);
  font-family: var(--oldFonts);
  font-weight: var(--titleWeight);
  color: var(--text);
  text-decoration: var(--noDeco);
  font-size: 220%;

}

.basicBody{
  position: var(--positionRelative);
  width: var(--widthFull);
  text-align: var(--alignCenter);
  display: var(--displayBlock);
  align-content: var(--alignCenter));
}

#splashScreen{
  margin-top: 15%;
}

#contact{
  display: var(--displayBlock);
  position: var(--positionRelative);
  color: var(--highlighted);
  font: var(--bodyFont);
  font-size: 150%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-decoration: var(--noDeco);
}

#scroll{
  font-size: 175%;
  margin-top: 25%;
}

.section {
  width: var(--widthDesktop);
  height: var(--heightAuto);
  margin-left: 25%;
}

.optionTitle{
  position: var(--positionRelative);
  display: var(--displayBlock);
  justify-content: var(--alignCenter);
  font-size: 250%;
  color: var(--title);
}

img{
  position: var(--positionRelative);
  display: var(--displayBlock);
  justify-content: var(--alignCenter);
  width: 45%;
  height: var(--heightAuto);
  margin: 5% 27.5% 5% 27.5%;
}

.prayerTitle{
  position: var(--positionRelative);
  display: var(--displayBlock);
  justify-content: var(--alignCenter);
  font-size: 200%;
  margin-top: 3%;
  font-family: var(--titleFont);
  font-weight: bold;
  color: var(--title);
}

.prayerBody{
  position: var(--positionRelative);
  display: var(--displayBlock);
  justify-content: var(--alignCenter);
  font-size: 130%;
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 3%;
  font-family: var(--bodyFont);
  font-weight: 550;
  color: var(--body);
}

/*iPad(s)*/
@media screen and (max-width: 1024px){

  body{
    display: var(--displayBlock);
    position: var(--positionRelative);
    width: var(--widthFull);
    height: var(--heightAuto);
    margin: -2px;
    padding: 1px;
    font-family: var(--titleFont);
    font-family: var(--bodyFont);
    background-color: var(--background);
  }

  .title{
    display: var(--displayTitle);
    position: var(--positionRelative);
    width: var(--widthFull);
    text-align: var(--alignCenter);
    border-bottom: 1px solid black;
  }

  .title a{
    display: var(--displayTitle);
    position: var(--positionRelative);
    font-family: var(--oldFonts);
    font-weight: var(--titleWeight);
    color: var(--text);
    text-decoration: var(--noDeco);
    font-size: 320%;

  }

  .basicBody{
    position: var(--positionRelative);
    width: var(--widthFull);
    text-align: var(--alignCenter);
    display: var(--displayBlock);
    align-content: var(--alignCenter));
  }

  #splashScreen{
    margin-top: 15%;
  }

  #contact{
    display: var(--displayBlock);
    position: var(--positionRelative);
    color: var(--highlighted);
    font: var(--bodyFont);
    font-size: 250%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-decoration: var(--noDeco);
  }

  #scroll{
    font-size: 275%;
    margin-top: 25%;
  }

  .section {
    width: var(--widthFull);
    height: var(--heightAuto);
    margin-left: 0%;
  }

  .optionTitle{
    position: var(--positionRelative);
    display: var(--displayBlock);
    justify-content: var(--alignCenter);
    font-size: 350%;
    color: var(--title);
  }

  img{
    position: var(--positionRelative);
    display: var(--displayBlock);
    justify-content: var(--alignCenter);
    width: 45%;
    height: var(--heightAuto);
    margin: 5% 27.5% 5% 27.5%;
  }

  .prayerTitle{
    position: var(--positionRelative);
    display: var(--displayBlock);
    justify-content: var(--alignCenter);
    font-size: 300%;
    margin-top: 3%;
    font-family: var(--titleFont);
    font-weight: bold;
    color: var(--title);
  }

  .prayerBody{
    position: var(--positionRelative);
    display: var(--displayBlock);
    justify-content: var(--alignCenter);
    font-size: 175%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 3%;
    font-family: var(--bodyFont);
    font-weight: 550;
    color: var(--body);
  }
}

/*Laptops*/
@media screen and (max-width: 1280px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 320%;

    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 15%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 275%;
      margin-top: 10%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 350%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 33%;
      height: var(--heightAuto);
      margin: 5% 33% 5% 33%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 300%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 225%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

/*Large Smartphones*/
@media screen and (max-width: 1080px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 520%;

    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 25%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 275%;
      margin-top: 32%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 450%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 500%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 350%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
  }

@media screen and (max-width: 800px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 375%;

    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 15%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 275%;
      margin-top: 20%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 350%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 400%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 275%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

@media screen and (max-width: 750px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 400%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 50%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 275%;
      margin-top: 51%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 325%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 350%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 250%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

@media screen and (max-width: 640px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 300%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 52%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 275%;
      margin-top: 51%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 275%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 300%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 225%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

@media screen and (max-width: 540px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 275%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 52%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 275%;
      margin-top: 51%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 250%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 250%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 175%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

@media screen and (max-width: 540px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 275%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 52%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 275%;
      margin-top: 51%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 250%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 250%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 175%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

@media screen and (max-width: 480px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 225%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 52%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 200%;
      margin-top: 51%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 200%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 225%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 150%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

/*Pixel 2*/
@media screen and (max-width: 411px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 200%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 52%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 200%;
      margin-top: 51%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 200%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 200%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 150%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

/*iPhone(s)*/
@media screen and (max-width: 411px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 215%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 52%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 175%;
      margin-top: 51%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 175%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 175%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 125%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

/*Android(s)*/
@media screen and (max-width: 384px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 150%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 40%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 150%;
      margin-top: 55%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 175%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 200%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 125%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

@media screen and (max-width: 360px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 160%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 50%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 150%;
      margin-top: 55%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 160%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 175%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 115%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}

/*iPhone 4*/

@media screen and (max-width: 320px){

    body{
      display: var(--displayBlock);
      position: var(--positionRelative);
      width: var(--widthFull);
      height: var(--heightAuto);
      margin: -2px;
      padding: 1px;
      font-family: var(--titleFont);
      font-family: var(--bodyFont);
      background-color: var(--background);
    }

    .title{
      display: var(--displayTitle);
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      border-bottom: 1px solid black;
    }

    .title a{
      display: var(--displayTitle);
      position: var(--positionRelative);
      font-family: var(--oldFonts);
      font-weight: var(--titleWeight);
      color: var(--text);
      text-decoration: var(--noDeco);
      font-size: 160%;
    }

    .basicBody{
      position: var(--positionRelative);
      width: var(--widthFull);
      text-align: var(--alignCenter);
      display: var(--displayBlock);
      align-content: var(--alignCenter));
    }

    #splashScreen{
      margin-top: 30%;
    }

    #contact{
      display: var(--displayBlock);
      position: var(--positionRelative);
      color: var(--highlighted);
      font: var(--bodyFont);
      font-size: 250%;
      margin-top: 5%;
      margin-bottom: 5%;
      text-decoration: var(--noDeco);
    }

    #scroll{
      font-size: 150%;
      margin-top: 40%;
    }

    .section {
      width: var(--widthFull);
      height: var(--heightAuto);
      margin-left: 0%;
    }

    .optionTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 135%;
      color: var(--title);
    }

    img{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      width: 45%;
      height: var(--heightAuto);
      margin: 5% 27.5% 5% 27.5%;
    }

    .prayerTitle{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 175%;
      margin-top: 3%;
      font-family: var(--titleFont);
      font-weight: bold;
      color: var(--title);
    }

    .prayerBody{
      position: var(--positionRelative);
      display: var(--displayBlock);
      justify-content: var(--alignCenter);
      font-size: 100%;
      margin-top: 1%;
      margin-bottom: 2%;
      padding: 3%;
      font-family: var(--bodyFont);
      font-weight: 550;
      color: var(--body);
    }
}
